@charset "utf-8";

/* color themes: white yellow black */

/* HTML and Body styles */

html {
    background: rgb(255, 255, 255);
    font-family: SpaceGrotesk-Light, serif, 'Times New Roman', Times;
    height: 100%;
 } 

/* Footer styles */   

footer {
    color: white;    
    background: linear-gradient(to top, rgb(255, 215, 8), black);   
    -moz-column-width: 200px;
    -webkit-column-width: 200px;
     column-width: 200px;
 
    -moz-column-gap: 25px;
    -webkit-column-gap: 25px;
     column-gap: 25px;
     
     padding: 20px 40px;
   
 }
 
 footer h1 {
    color: rgb(255, 241, 147);   
    font-size: 1em;
    margin: 10px 0px;
 }
 
 footer h1:first-of-type {
    margin-top: 0px;
 }
 
 footer a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
 }
 
 footer a:hover {
    text-decoration: underline;
 }
 
 footer address {
    margin-top: 30px;
    font-style: normal;
 }

 /* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {

    body header nav ul {
       display: -webkit-flex;
       display: flex;
       -webkit-flex-flow: row nowrap;
       flex-flow: row nowrap;
       -webkit-justify-content: center;
       justify-content: center;
    }
    
    body header nav ul li {
       -webkit-flex: 0 1 auto;
       flex: 0 1 auto;
    }
 }